#DATABASE_URL=postgresql://product-user:123@product-db:5432/product-db?schema=public
#POSTGRES_USER=product-user
#POSTGRES_PASSWORD=123
#POSTGRES_DB=product-db
#ESTABLISHMENT_SERVICE_URL=http://establishmentservice:3000/v1/establishment
