#DATABASE_URL=postgresql://coupon-user:123@coupon-db:5432/coupon-db?schema=public
#POSTGRES_USER=coupon-user
#POSTGRES_PASSWORD=123
#POSTGRES_DB=coupon-db
#PRODUCT_SERVICE_URL=http://productservice:3001/v1/product/validate